* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
  font-weight: 700;
}

body {
  background: url(images/bg-intro-desktop.png);
  background-color: #ff7a7a;
}

main {
  padding: 100px 5%;
}

main .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}

main .text {
  width: 50%;
  font-size: 16px;
  color: white;
  margin-right: 20px;
}

main .text h1 {
  font-size: 45px;
  line-height: 50px;
  margin-bottom: 30px;
}

main .text p {
  font-weight: 600;
  line-height: 25px;
}

main .formArea {
  width: 50%;
}

main .formArea .freeTrial {
  background-color: #6055a5;
  text-align: center;
  color: white;
  padding: 20px;
  font-weight: 600;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 5px rgba(216, 105, 105, 0.5);
}

main .formArea form {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #b9b6d3;
  text-align: center;
}

main .formArea form input {
  width: 75%;
  margin: 15px;
  padding: 20px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #b9b6d3;
}

main .formArea form input:first-child {
  margin-top: 40px;
}

main .formArea form input:invalid {
  border: 2px solid #ff7a7a;
}

main .formArea form input:valid:required {
  border: 1px solid #b9b6d3;
}

main .formArea form button {
  width: 83%;
  margin-top: 15px;
  padding: 20px;
  border-radius: 10px;
  outline: none;
  background-color: #38cc8c;
  outline: none;
  border: 0;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  font-size: 16px;
  margin-bottom: 15px;
  box-shadow: 0 5px #2fb67c;
}

main .formArea form p.error {
  font-size: 12px;
  color: #ff7a7a;
  text-align: right;
  margin-right: 10%;
  font-weight: 600;
  margin-top: -10px;
  display: none;
}

main .formArea form p.agreeing {
  color: #b9b6d3;
  font-size: 12px;
  text-align: center;
  margin-bottom: 40px;
}

main .formArea form p.agreeing span {
  color: #ff7a7a;
  font-weight: 600;
}

@media screen and (max-width: 950px) {
  body {
    background: url(images/bg-intro-mobile.png);
    background-color: #ff7a7a;
    background-size: cover;
  }
  main .wrapper {
    flex-direction: column;
  }
  main .text {
    width: 90%;
    text-align: center;
    margin-bottom: 50px;
  }
  main .formArea {
    width: 90%;
  }
  main .formArea p {
    margin: 0 20px;
  }
}

.example {
  display: grid;
  transition: all .5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}
